# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables - JANGAN PERNAH DI-COMMIT!
.env
.env.local
.env.*.local
*.env

# Build outputs
dist/
build/
out/

# Prisma
prisma/migrations/dev/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo
